@using Models
@using PagedList.Mvc

@{
    ViewBag.Title = "Logs";
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Logs</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Ação</th>
                    <th>Controlador</th>
                    <th>Email</th>
                    <th>Ip</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Index</td>
                    <td>Admin</td>
                    <td>system@admin</td>
                    <td>127.0.0.1</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>