
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>403</title>

    <link rel="stylesheet" type="text/css" href="~/Content/css/StyleSheet1.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body onclick="goto();">

    <div id="app">
        <div>403</div>
        <div class="txt">
            Sem Permissão<span class="blink">_</span>
        </div>
    </div>

</body>

</html>

<script>
    function goto() {
        location.href = "/"
    }
</script>

