#switch {
    top: 50%;
    left: 50%;
    width: 75px;
    height: 40px;
}

.toggle {
    position: absolute;
    border: 2px solid #444249;
    border-radius: 20px;
    -webkit-transition: border-color .6s ease-out;
    transition: border-color .6s ease-out;
    box-sizing: border-box;
}

    .toggle.toggle-on {
        border-color: rgba(137, 194, 217, .4);
        -webkit-transition: all .5s .15s ease-out;
        transition: all .5s .15s ease-out;
    }

.toggle-button {
    position: absolute;
    top: 4px;
    width: 28px;
    bottom: 4px;
    right: 39px;
    background-color: #444249;
    border-radius: 19px;
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button {
    top: 3px;
    width: 65px;
    bottom: 3px;
    right: 3px;
    border-radius: 23px;
    background-color: #89c2da;
    box-shadow: 0 0 16px #4b7a8d;
    -webkit-transition: all .2s .1s, right .1s;
    transition: all .2s .1s, right .1s;
}


.toggle-text-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    color: rgba(0,0,0,0);
}

.toggle-on .toggle-text-on {
    color: #3b6a7d;
    -webkit-transition: color .3s .15s;
    transition: color .3s .15s;
}

.toggle-text-off {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: pointer;
    color: #444249;
}

.toggle-on .toggle-text-off {
    color: rgba(0,0,0,0);
}

/* used for streak effect */
.glow-comp {
    position: absolute;
    opacity: 0;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, .1);
    box-shadow: 0 0 12px rgba(75, 122, 141, .2);
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp {
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
/* ===== Horizontal Rule ===== */
.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
    font-size: 1rem;
    display: inline-block;
    margin: 3em 2em;
    width: 350px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

    .sel::before {
        position: absolute;
        content: '\f063';
        font-family: 'FontAwesome';
        font-size: 2em;
        color: #FFF;
        right: 20px;
        top: calc(50% - 0.5em);
    }

    .sel.active::before {
        transform: rotateX(-180deg);
    }

.sel__placeholder {
    display: block;
    font-family: 'Quicksand';
    font-size: 2.3em;
    color: #838e95;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
}

.sel__box__options {
    display: list-item;
    font-family: 'Quicksand';
    font-size: 1.5em;
    color: #838e95;
    padding: 0.5em 1em;
    user-select: none;
}

    .sel__box__options::after {
        content: '\f00c';
        font-family: 'FontAwesome';
        font-size: 0.5em;
        margin-left: 5px;
        display: none;
    }

    .sel__box__options.selected::after {
        display: inline;
    }

    .sel__box__options:hover {
        background-color: #ebedef;
    }

/* ----- Select Box Black Panther ----- */
.sel {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
    z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
    /*   display: none; */
    z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
